<%- include('components/header') %>

    <div class="index-container">
        <div class="container text-center">
            <div class="row justify-content-center">

                <div class="col-md-auto anta-regular">
                    <h1 style="color:#1DA1F2 ;">
                        <i class="fa-brands fa-twitter"></i>
                        <span>Twitter</span>
                    </h1>
                </div>

            </div>
            <div class="row justify-content-center poppins-regular">

                <div class=" col-md-auto">
                    <p>Hey There! <br> How are you feeling today</p>
                </div>

            </div>
            <div class="row mt-4">
                <div class="col-3"></div>
                <div class="col-3 d-flex justify-content-center">
                    <a href="/login" type="button" class="btn btn-primary" href="/login">Login</a>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <a href="/register" type="button" class="btn btn-outline-primary md-0">Register</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('components/footer') %>